@media (max-width: 1200px) {
    .header {
        width: 768px;

        &_content {
            width: 138px;
            flex-direction: column;
            gap: 10px;
        }
    }

    main {
        .proposition {
            width: 738px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            row-gap: 30px;

            &_cards {
                width: 354px;

                &--img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .footer {
        margin: 0 auto;
        &_info {
            flex-direction: column;
            width: 738px;

            &--container {
                gap: 165px;
                justify-content: space-between;
                align-items: baseline;


                &--card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &--box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }


            &--subscribe {
                width: 100%;
                margin-top: 40px;

                &--title {
                    text-align: center;
                }

                &--box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;

                    input {
                        width: 100%;
                        max-width: 450px;
                        padding: 15px 16px;
                    }
                }
            }

        }
    }
}