.header {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    &_burger {
        display: none;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;

        span {
            width: 26px;
            height: 3px;
            background: #212121;
            border-radius: 2px;
        }
    }

    &_container {
        width: 100%;
        max-width: 520px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_nav {
            width: 100%;
            max-width: 258px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 2%;
            display: flex;
            gap: 50px;

            &_link {
                text-decoration: none;
                color: #222;
                font-size: 22px;
                font-weight: 600;
                position: relative;
                transition: color 0.3s;
            }

            &_link::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -30px;
                width: 0;
                height: 4px;
                background: #2196f3;
                border-radius: 3px;
                transition: width 0.3s ease;
            }

            &_link:hover {
                color: #2196f3;
            }

            &_link:hover::after {
                width: 100%;
            }

            .active {
                color: #2196f3;
            }

            .active::after {
                width: 100%;
            }

            &_link {
                color: #212121;
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 2%;
                text-decoration: none;
                transition: transform 0.5s ease;
            }

        }
    }

    &_content {
        width: 100%;
        max-width: 387px;
        display: flex;
        gap: 30px;
        align-items: center;

        &--email {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--phone {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--email a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #757575;
            text-decoration: none;
        }

        &--email:hover {
            svg {
                fill: #2196F3;
            }

            a {
                color: #2196f3;
            }
        }

        &--phone:hover {
            svg path {
                fill: #2196F3;
            }

            a {
                color: #2196f3;
            }
        }

        &--phone a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #757575;
            text-decoration: none;
        }



    }

}


/* ===== MOBILE MENU ===== */
.mobile-menu {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: fixed;
    inset: 0;
    background: #ffffff;
    display: none;
    flex-direction: column;
    z-index: 100;
    padding-left: 40px;
    padding-bottom: 48px;

    &_socials {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 2%;
            color: #2196F3;
            text-decoration: none;
        }

        span {
            width: 1px;
            height: 20px;
            background: rgba(33, 33, 33, 0.2);
        }
    }

    &.active {
        display: flex;
    }

    &_close {
        align-self: flex-end;
        font-size: 26px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 25px;
        margin-top: 21px;
    }

    &_close:hover {
        color: #2196F3;
    }

    &_nav {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #212121;
            transition-duration: 0.3s;
            text-decoration: none;
        }

        a:hover {
            color: #2196F3;
        }
    }

    &_contacts {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .phone {
            font-family: Roboto;
            font-weight: 500;
            font-size: 34px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #2196F3;
            text-decoration: none;
        }

        a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #757575;
            text-decoration: none;
        }
    }
}