@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.full-line {
        border-bottom: 1px solid #ECECEC;
        width: 100%;
        max-width: 1600px;
    }

@import "./header2";
@import "./main2";
@import "./footer2";